<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Şartlar &amp; Koşullar</title>
</head>
<body>
<h1>Şartlar &amp; Koşullar</h1>
<p> E-Piksel (&quot;E-Piksel&quot;, &quot;www.e-piksel.com&quot;, &quot;Biz&quot; ya da &quot;Bizim&quot;),   Şartlar &amp; Koşullar gereğince  eklentileri (&quot;Ürünleri&quot;) kullanmak için, alt lisans hakkı olmadan, geri alınabilir, devredilemez, münhasır olmayan lisans vermektedir.</p>
<p>Ürün(leri) satın alarak aşağıdakileri kabul etmiş sayılırsınız:</p>
<ul>
  <li>Tarafımızdan aksi belirtilmedikçe ya da çoklu lisans satın alınmadıkça SADECE bir websitesi (alt-alan ayrı web sitesi olarak sayılmaz) için kullanılabilir.</li>
  <li>Yeniden satış için tarafımızdan alınan yazılı onayı (veya ekli kullanım şartları) olmadıkça ürün satışına İZİN VERİLMEZ</li>
  <li>Telif haklarını kaldırmadan önce tarafımızdan alınan yazılı onay (veya ekli kullanım şartları) olmadıkça kaldırılmasına İZİN VERİLMEZ</li>
  <li>Ürünün size ait olduğu iddiasında bulunulamaz, bu işi gerçekleştirmek için harcanan çaba ve zaman lütfen saygı gösteriniz.</li>
</ul>
<h4>Lisans</h4>
<p>Ürünün tüm bölümleri üst platforma uygun GPL lisansı altında lisanslı bulunmaktadır. Görüntüler, basamaklı stil sayfaları ve JavaScriptler dahil olmayan derlenmiş bölümler bu Şartlar ve Koşullar ile uyum içindedir.</p>
<h4>Garanti</h4>
<p>Biz ürün gereksinimlerini karşılamak ya da hatasız çalışacağını garanti etmez ve vermemektedir. Biz ürün 3. parti ürünler ile çalışacağı garanti edemez.   Ürün, örtülü veya açık herhangi bir tür garanti olmaksızın &quot;olduğu gibi&quot; sağlanır. Hiçbir durumda Bizde dahil olmak üzere herhangi bir zarar için sorumlu tutulamaz ancak bununla sınırlı değildir; doğrudan, dolaylı, özel, tesadüfi ya da sonuçta meydana gelen hasarlar veya kullanımdan kaynaklanan diğer zararlardan ya da ürünü kullanmak için yetersizlik.</p>
<h4>Mülkiyet</h4>
<p>Biz yapısında olan veya dahil ürün ile ilgili tüm fikri mülkiyet haklarının mülkiyeti saklıdır ancak bununla sınırlı değildir; Tüm telif hakkı, patent hakları, tescilli ve tescilsiz ticari (hizmet markaları dahil) ilişkin tüm hakları, gizli bilgiler (ticari sırlar ve bilgi birikimi dahil) ve burada açıkça verilmemiş olanlar dışındaki tüm haklar Şartlar ve Koşullar.</p>
<h4>İade Politikası</h4>
<p>Biz soyut olmayan ve geri çevrilemez dijital ürünler sunmaktayız   ve satın alındıktan sonra para iadesi yapmamaktayız,   sitemizdeki ürünleri satın almadan önce anlaşılmasından siz sorumlusunuz.</p>
<p>Biz önceden bildirmeksizin herhangi bir zamanda bu Şartları &amp; Koşulları değiştirebilir ya da yeniden düzenleyebiliriz. Bu nedenle, biz size ürünü yüklemeden önce veya güncellemeden önce Şartları &amp; Koşulları gözden geçirmenizi öneririz.</p>
</body>
</html>