<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Destek isterken unutulmaması gerekenler</title>
</head>
<body>
<h1>Destek İsteği</h1>
<p>Destek isterken unutulmaması gerekenler</p>
<p> Ücretsiz destek hizmeti varsayılan şablon ile OpenCart kurulumları için sağlanır. Özel şablon entegrasyonu için sitemizde modül sayfasında &quot;kurulum/güncelleme&quot; seçeneğini seçebilirsiniz. Diğer üçüncü parti eklentiler/modüller ile çatışmaların çözümünde ya da özelleştirmeler için eklenti sayfasındaki &quot;özelleştirme&quot; seçeneğiniz seçebilirsiniz.</p>
<h2>Yardım istemeden önce</h2>
<ul>
  <li>Eklenti sürümünün OpenCart sürümü ile uyumlu olduğundan emin olun.</li>
  <li>Herhangi bir hata iletileri için uzatma ayarları sayfasını kontrol edin ve varsa bunları düzeltmek için deneyin.</li>
  <li>Eğer eklentinin vQmod sürümünü kullanıyorsanız, vqmod klasörü içinde &quot;vqmod.log&quot; dosyasını kontrol edin.  Eğer günlük dosyası varsa içinde raporlanan hataları gidermek deneyin. </li>
  <li> Özel bir şablon kullanıyorsanız, eklentiyi özel şablonunuz ile entegre etmek gerekebilir.  Bunu yapmak için varsayılan şablonda yapılan değişiklikleri özel şablonunuza uygulayarak çalıştırmayı deneyiniz.</li>
</ul>
<h2>Yardım istemek</h2>
<p>Mümkün olduğunca detaylı olarak probleminizi yazın. Bu sorununuzu daha hızlı çözüme kavuşturacaktır.</p>
<p>Başvururken asgari seviyede aşağıdaki bilgileri belirtiniz</p>
<ul>
  <li>Kullandığınız OpenCart sürümü.</li>
  <li>Eklenti adı, versiyonu, türü (normal veya vQmod) ile sorun yaşıyorsunuz.</li>
  <li>Birkaç ayrıntıyla kurulum işlemi açıklayınız. Eğer bazı dosyaları kopyaladıysanız? lütfen hangi konuma kopyaladığınızı belirtiniz. Herhangi dosyanın üzerine yazdınız mı? Öyleyse hangileri? Elle herhangi bir dosya düzenlediniz mi? Öylese, hangileri ve ne tür değişiklikler yaptınız.</li>
  <li>Eğer herhangi bir hata mesajı varsa, lütfen bunu hata mesajını e-postaya ekleyiniz.</li>
  <li>Eğer diğer üçüncü parti eklentiler / modüller / şablonlar kuruluysa, bunları listeleyiniz.</li>
  <li>Hata mesajı oluşması durumunda, vQmod ile oluşturulmuş önbellek dosyalarını e-postanıza ekleyiniz.</li>
</ul>
<p>Sorun hakkında verebileceğiniz her türlü ek bilgi sorun çözümünü hızlandıracaktır.</p>
<h2>Eklenti Çevirisi</h2>
<p>Başka bir dilde (örneğin Türkçe için) eklentiyi çevirmek için aşağıdakileri yapın:</p>
<ul>
  <li>Eğer varsa <span style='color:#2a00ff;'>&quot;</span><span style='color:#2a00ff;'>upload/admin/language/</span><span style='color:#2a00ff;'>&quot;</span> içindeki <span style='color:#2a00ff;'>&quot;</span><span style='color:#2a00ff;'>english</span><span style='color:#2a00ff;'>&quot;</span> klasörünün kopyasını oluşturun ve <span style='color:#e60000;'>"turkish"</span> olarak yeniden adlandırın.</li>
  <li>Bir metin editörü ile (örneğin Notepad++) yeni oluşturulan <span style='color:#e60000;'>&quot;</span><span style='color:#e60000;'>turkish</span><span style='color:#e60000;'>&quot;</span> klasörü içindeki her dosyayı açın ve <b>türkçe</b> için dizinleri çeviriniz.<br />
    <i>Not!</i> Sadece eşittir işaretinin <b>sağ tarafındaki</b> kısımları çevirmeniz gerekir.</li>
  <li>Eğer varsa <span style='color:#2a00ff;'>&quot;upload/catalog/language/&quot;</span> içindeki <span style='color:#2a00ff;'>&quot;</span><span style='color:#2a00ff;'>english</span><span style='color:#2a00ff;'>&quot;</span> klasörünün kopyasını oluşturun ve <span style='color:#e60000;'>&quot;turkish&quot;</span> olarak yeniden adlandırın.</li>
  <li>Bir metin editörü ile (örneğin Notepad++) yeni oluşturulan <span style='color:#e60000;'>&quot;</span><span style='color:#e60000;'>turkish</span><span style='color:#e60000;'>&quot;</span> klasörü içindeki her dosyayı açın ve <b>türkçe</b> için dizinleri çeviriniz.<br />
    <i>Not!</i> Sadece eşittir işaretinin <b>sağ tarafındaki</b> kısımları çevirmeniz gerekir.</li>
  <li>Eğer eklenti bir vQmod sürümü varsa, Sonra çevrilemeyen bazı metinler <span style='color:#2a00ff;'>&quot;</span><span style='color:#2a00ff;'>upload/vqmod/xml/</span><span style='color:#2a00ff;'>&quot;</span> içindeki XML dosyasında bulunamadıysa</li>
  <li>Notepad++ gibi bir metin editörü ile XML dosyasını açın (MS Word gibi kelime işlemci uygulamasını kullanmayınız) ve aşağıdaki gibi çeviri blokları için arama yapınız:
    <div style="font-family:monospace;color:#006;border:1px solid #d0d0d0;background-color:#f0f0f0;padding:10px;">
      <pre style='color:#000000;margin:0px;'><span style='color:#7f0055;'>&lt;</span><span style='color:#7f0055;'>file</span> name=<span style='color:#2a00ff;'>"</span><span style='color:#2a00ff;'>admin/language/english/catalog/product.php</span><span style='color:#2a00ff;'>"</span><span style='color:#7f0055;'>></span>
    <span style='color:#7f0055;'>&lt;</span><span style='color:#7f0055;'>operation</span><span style='color:#7f0055;'>></span>
        <span style='color:#7f0055;'>&lt;</span><span style='color:#7f0055;'>search</span> position=<span style='color:#2a00ff;'>"</span><span style='color:#2a00ff;'>after</span><span style='color:#2a00ff;'>"</span><span style='color:#7f0055;'>></span><span style='color:#3f7f59;'>&lt;![CDATA[</span>
        $_['text_something']
        <span style='color:#3f7f59;'>]]&gt;</span><span style='color:#7f0055;'>&lt;/</span><span style='color:#7f0055;'>search</span><span style='color:#7f0055;'>></span>
        <span style='color:#7f0055;'>&lt;</span><span style='color:#7f0055;'>add</span><span style='color:#7f0055;'>></span><span style='color:#3f7f59;'>&lt;![CDATA[</span>
$_['text_sample']   = 'Sample text';
        <span style='color:#3f7f59;'>]]&gt;</span><span style='color:#7f0055;'>&lt;/</span><span style='color:#7f0055;'>add</span><span style='color:#7f0055;'>></span>
    <span style='color:#7f0055;'>&lt;/</span><span style='color:#7f0055;'>operation</span><span style='color:#7f0055;'>></span>
<span style='color:#7f0055;'>&lt;/</span><span style='color:#7f0055;'>file</span><span style='color:#7f0055;'>></span>
</pre>
    </div>
    Bu yolları içeren <span style='color:#2a00ff;'>&quot;</span><span style='color:#2a00ff;'>admin/language/english/</span><span style='color:#2a00ff;'>&quot;</span> veya <span style='color:#2a00ff;'>&quot;</span><span style='color:#2a00ff;'>catalog/language/english/</span><span style='color:#2a00ff;'>&quot;</span></li>
  <li>Her blok için bir kopyasını oluşturun, <span style='color:#2a00ff;'>&quot;</span><span style='color:#2a00ff;'>english</span><span style='color:#2a00ff;'>&quot;</span> dizin yolunu <span style='color:#e60000;'>&quot;</span><span style='color:#e60000;'>turkish</span><span style='color:#e60000;'>&quot;</span> ile çevirin ve dizeleri çevirin.  Yani, önceki örnek bloğu aşağıdakine benzer şekilde sonra erecektir:
    <div style="font-family:monospace;color:#006;border:1px solid #d0d0d0;background-color:#f0f0f0;padding:10px;">
      <pre style='color:#000000;margin:0px;'>
<span style='color:#7f0055;'>&lt;</span><span style='color:#7f0055;'>file</span> name=<span style='color:#2a00ff;'>"</span><span style='color:#2a00ff;'>admin/language/english/catalog/product.php</span><span style='color:#2a00ff;'>"</span><span style='color:#7f0055;'>></span>
    <span style='color:#7f0055;'>&lt;</span><span style='color:#7f0055;'>operation</span><span style='color:#7f0055;'>></span>
        <span style='color:#7f0055;'>&lt;</span><span style='color:#7f0055;'>search</span> position=<span style='color:#2a00ff;'>"</span><span style='color:#2a00ff;'>after</span><span style='color:#2a00ff;'>"</span><span style='color:#7f0055;'>></span><span style='color:#3f7f59;'>&lt;![CDATA[</span>
        $_['text_something']
        <span style='color:#3f7f59;'>]]&gt;</span><span style='color:#7f0055;'>&lt;/</span><span style='color:#7f0055;'>search</span><span style='color:#7f0055;'>></span>
        <span style='color:#7f0055;'>&lt;</span><span style='color:#7f0055;'>add</span><span style='color:#7f0055;'>></span><span style='color:#3f7f59;'>&lt;![CDATA[</span>
$_['text_sample']   = 'Sample text';
        <span style='color:#3f7f59;'>]]&gt;</span><span style='color:#7f0055;'>&lt;/</span><span style='color:#7f0055;'>add</span><span style='color:#7f0055;'>></span>
    <span style='color:#7f0055;'>&lt;/</span><span style='color:#7f0055;'>operation</span><span style='color:#7f0055;'>></span>
<span style='color:#7f0055;'>&lt;/</span><span style='color:#7f0055;'>file</span><span style='color:#7f0055;'>></span>

<span style='color:#7f0055;'>&lt;</span><span style='color:#7f0055;'>file</span> name=<span style='color:#2a00ff;'>"</span><span style='color:#2a00ff;'>admin/language/<span style='color:#e60000;'>turkish</span>/catalog/product.php</span><span style='color:#2a00ff;'>"</span><span style='color:#7f0055;'>></span>
    <span style='color:#7f0055;'>&lt;</span><span style='color:#7f0055;'>operation</span><span style='color:#7f0055;'>></span>
        <span style='color:#7f0055;'>&lt;</span><span style='color:#7f0055;'>search</span> position=<span style='color:#2a00ff;'>"</span><span style='color:#2a00ff;'>after</span><span style='color:#2a00ff;'>"</span><span style='color:#7f0055;'>></span><span style='color:#3f7f59;'>&lt;![CDATA[</span>
        $_['text_something']
        <span style='color:#3f7f59;'>]]&gt;</span><span style='color:#7f0055;'>&lt;/</span><span style='color:#7f0055;'>search</span><span style='color:#7f0055;'>></span>
        <span style='color:#7f0055;'>&lt;</span><span style='color:#7f0055;'>add</span><span style='color:#7f0055;'>></span><span style='color:#3f7f59;'>&lt;![CDATA[</span>
$_['text_sample']   = '<span style='color:#e60000;'>Örnek Metin</span>';
        <span style='color:#3f7f59;'>]]&gt;</span><span style='color:#7f0055;'>&lt;/</span><span style='color:#7f0055;'>add</span><span style='color:#7f0055;'>></span>
    <span style='color:#7f0055;'>&lt;/</span><span style='color:#7f0055;'>operation</span><span style='color:#7f0055;'>></span>
<span style='color:#7f0055;'>&lt;/</span><span style='color:#7f0055;'>file</span><span style='color:#7f0055;'>></span>
</pre>
    </div>
  </li>
  <li>Çevirileri bitirdiğinizde, OpenCart'ın kurulu olduğu dizine yeni modül dosyalarınızı yükleyerek bitiriniz.</li>
</ul>
</body>
</html>